:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accent-color: #FFFFFF;
--logo-color: #2196F3;
--primary-bg-color: #E5E5E5;
--head-bg-color: #2F303A;
--secondary-bg-color: #F5F4FA;
--hover-color:#2196F3;
--primary-font: 'Roboto';
--secondary-font: 'Raleway';
}

body {
  font-family: var(--secondary-font), sans-serif;
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
}
.logo-black {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-white {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #fff
}
.footer {
  background-color: #2F303A;
}
.nav-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--hover-color);
}
.footer-address {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.link-contacts {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}
.link-contacts:hover {
  color: var(--hover-color);
}
.link-contacts:focus {
  color: var(--hover-color);
  text-decoration: underline;
}
.head {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--head-bg-color);
  color: var(--accent-color);
}
.our-team {
  background-color: var(--secondary-bg-color);
}
.button {
  border-radius: 4px;
  background-color: var(--hover-color);
  color: var(--accent-color);
  cursor: pointer;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-portfolio {
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.button-portfolio:hover {
  color: var(--accent-color);
  background-color: var(--hover-color);
}
.description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features-description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.head-projects, .head-team {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-name {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.speciality {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.projects-portfolio {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.description-projects {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}